{:kotoba.app/id "cloud.itonami.isic-0122", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibwcmh36ihbt44xihetsrqtdno6srsi57jnryt5hjkfqup4azsm7y", :kotoba.app/embed-url "ipfs://bafkreibwcmh36ihbt44xihetsrqtdno6srsi57jnryt5hjkfqup4azsm7y", :published {:archive "https://kotobase.net/ipfs/bafkreibwcmh36ihbt44xihetsrqtdno6srsi57jnryt5hjkfqup4azsm7y", :size 72432, :put-status 201, :get-status 200, :at "2026-08-15T12:55:51.443Z"}}
